<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rugby Union Squads</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/css/template.css"/>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Kitman Labs Tech Test</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Rugby Union Squads</h1>
    

		{%if error is defined%}
		<h2 class="text-danger">{{error}}</h2>
		{%endif%}


		{%if data is defined%}  
		<div class="table-responsive">    
			{% for squad in data %}
			<h4>Squad Name: {{squad.club}} - {{squad.name}}</h4>
			<h4>Squad ID: {{squad.id}}</h4>
			<table class="table table-bordered">
			<thead>
				<tr>
					<th>Player Name</th>
					<th>Player Position</th>					
				</tr>
			</thead>
			<tbody>
				{% for player in squad.players %}
				<tr>				   
				   <td>{{player.name}}</td>
				   <td>{{player.position}}</td>
				</tr>
				{% endfor %}
			</tbody>
			
			</table>
			<hr>
			{% endfor %}
		</div>
		{% endif %}
      </div>

    </div><!-- /.container -->  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   	<script src="/public/js/bootstrap.min.js" crossorigin="anonymous"></script>
   	<script src="/public/js/jquery.min.js" ></script>
        
  </body>
</html>